<h1 class="title">Ecris-ici les conseils de ton coach pour ne pas oublier !</h1>

<% frame_id = dom_id(@note, "name_turbo_frame") %>
<%= turbo_frame_tag frame_id, class:"w-full" do %>
  <%= simple_form_for [@exercice, @note] do |f| %>
    <%= f.input :content, label: "Change ta note et valide", style:"text-grey" %>
    <div class="inputs-btn">
      <%= f.submit "Enregistrer", class:"white-btn" %>
    <% end %>
    <%= link_to "Annuler", exercice_path(@exercice), class:"white-btn"  %>
    </div>
<% end %>
